*{
    margin: 0;
    padding: 0;
}

.logo{
    height: 75px;
    width: 135px;
}

header{
    background-color: rgb(218, 218, 218);
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
}

.heading::after{
    content: '';
    background-color: aqua;
    width: 200px;
    height: 5px;
    margin-top: 20px;
}

.layout-and-contoller{
    display: flex;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.view-btn-desktop, .view-btn-mobile{
    border: 1px solid black;
    font-size: 18px;
    padding: 10px 200px 10px 200px;
    background-color: transparent;
    border-radius: 4px;
}
.view-btn-mobile{
    background-color: #1cb9c8;
    border-color: #1cb9c8;
    color: white;
}

.controller{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.controller-screen{
    border: 2px solid black;
    width: 70%;
    display: flex;
    gap: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 19px;
    padding-right: 19px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 22px;
    margin-right: 4px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(20px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.hide-header{
    display: flex;
}

.hft{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.network{
    width: 225px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
}

.time-opt{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid;
    padding: 10px 5px 10px 5px;
    border-radius: 7px;
}

.time-formate{
    padding-left: 4px;
    font-size: 12px;
    margin-top: 4px;
    font-weight: bold;
    margin-left: 19px;
}

.battery-display{
    width: 225px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
    margin-top: 20px;
    margin-bottom: 17px;
}

#dual-sim{
    display: none;
}

.battery-value{
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}


.bettery-input{
    width: 225px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
}

.show-percentage, .hide-payment, .Dual-Sim{
    display: flex;
}

.pps{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.background, .reset{
    border: none;
    background-color: #1cb9c8;
    padding: 10px 20px 10px 20px;
    color: white;
}

.reset{
    background-color: #d9534f;
}

.file{
    display: none;
}

.preview-screen{
    background-image: url("screen-pattern.webp");
    background-size: cover;
    background-position: center;
    width: 68%;
    padding-top: 50px;
    padding-left: 30px;
    margin-top: 100px;
}

.main-screen{
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-btn{
    padding: 10px 20px;
    background: #fff;
    display: inline-block;
    margin-bottom: 30px;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.mobile-android{
    display: flex;
    border: 1px solid;
    width: 365px;
    height: 600px;
    margin-left: 33%;
    flex-direction: column;
}

.header{
    background-color: #128c7e;
    height: 110px;
}

.top-header{
    display: flex;
    gap: 170px;
    padding: 12px;
}

.screen-time{
    width: 76px;
}

.single-battery{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.android-batter{
    width: 20px;
    height: 9px;
    border: 1px solid white;
    border-radius: 2px;
}

.battery-top{
    content: "";
    width: 2px;
    height: 4px;
    display: inline-block;
    background-color: white;
    position: relative;
    right: -21.5px;
    top: -17px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}

.date-change{
    display: none;
}
.battery-charging{
    background-color: white;
    width: 50%;
    height: 9px;
}

.profile-pic{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.top-second-header{
    display: flex;
    align-items: center;
}

.profile-pic-upload{
    display: none;
}

.fa-cloud-upload{
    position: absolute;
    margin-left: 52px;
    margin-top: 28px;
    color: white;
    background-color: gray;
    font-size: 12px;
    padding: 2px;
    border-radius: 50%;
}

.profile{
    display: flex;
}

.profile-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.name-status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12px;
}

.name, .status{
    border: none;
    color: white;
    background-color: transparent;
    outline: none;
}
.name{
    font-weight: 600;
}
.status{
    font-weight: 300;
}

.call-video-option{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.chat-section{
    background-image: url("Whatsapp_bg_light.webp");
    height: 100%;
}

.date{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.date-input{
    border: none;
    outline: none;
    background-color: white;
    border-radius: 5px;
    padding-left: 18px;
    width: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    color: #aebac1;
    max-width: 130px;
    min-width: 56px;
    padding-left: 4px;
    padding-right: 4px;
}

.send-chat{
    background-color: #e3fcd7;
    min-width: 84px;
    max-width: 70%;
    position: relative;
    margin-left: auto;
    padding-top: 9px;
    padding-bottom: 5px;
    padding-left: 8px;
    display: flex;
    float: right;
    position: relative;
    flex-direction: column;
    border-radius: 9px 0px 9px 9px;
    padding-right: 8px;
    box-shadow: 0px 1.5px 0px 0px #8080804a;
    margin-bottom: 12px;
}

.send-msg-activity{
    margin-top: -10px;
    margin-right: -3px;
}

.send-time{
    color: rgb(0, 0, 0, 0.45);
    font-size: 12px;
}

.send-status{
    font-size: 12px;
    gap: 5px;
    display: flex;
    align-items: center;
    float: right;
}

.anchore{
    position: relative;
    float: right;
    margin-right: 12px;
}

.msg{
    width: 100%;
    margin-bottom: 0px;
}

.send{
    font-size: 15px;
    padding-left: 3px;
    color: var(--msg-text-color);
    word-wrap: break-word;
    font-family: "Open Sans", sans-serif;
}

.sender{
    position: relative;
    /* min-height: 60px; */
    max-height: 320px;
    height: auto;
}

.receive-chat{
    background-color: #fff;
    min-width: 84px;
    max-width: 70%;
    position: relative;
    margin-right: auto;
    padding-top: 9px;
    padding-bottom: 5px;
    padding-left: 8px;
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 0px 9px 9px 9px;
    padding-right: 8px;
    box-shadow: 0px 1.5px 0px 0px #8080804a;
    margin-bottom: 24px;
}

.receive-msg-activity{
    margin-top: -10px;
    /* margin-right: 4px; */
}

.receive-time{
    color: rgb(0, 0, 0, 0.45);
    font-size: 12px;
}

.receive-status{
    font-size: 12px;
    gap: 5px;
    display: flex;
    align-items: center;
    float: right;
}

.receiver-anchore{
    position: relative;
    margin-left: 12px;
}

.receive-msg{
    width: 100%;
    margin-bottom: 0px;
}

.receive{
    font-size: 15px;
    padding-left: 3px;
    color: var(--msg-text-color);
    word-wrap: break-word;
    font-family: "Open Sans", sans-serif;
}

.receiver{
    position: relative;
    min-height: 60px;
    height: auto;
    display: flex;
}

.chatting{
    height: 455px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

/* .msg-type-section{
    border: 1px solid black;
    height: 20px;
} */

.writing-section{
    width: 80%;
    padding-top: 2px;
    padding-bottom: 0px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 24px;
    gap: 8px;
    padding-left: 12px;
    margin-left: 3px;
}

.placeholder-msg{
    color: #90a4ae;
    margin-right: 116px;
}
.fa-paperclip{
    color: #90a4ae;
    transform: rotate(280deg)
}

.ind-rupees{
    padding-left: 5px;
    background-color: #90a4ae;
    font-size: 16px;
    border-radius: 19px;
    padding-right: 5px;
    color: white;
}

.fa-camera{
    color: #90a4ae;
    font-size: 20px;
}

.fa-microphone{
    background-color: #128c7e;
    color: white;
    margin-left: 12px;
    font-size: 24px;
    padding: 9px 12px 9px 12px;
    border-radius: 26px;
}

.msg-box {
    width: 281px;
    min-height: 385px;
    height: auto;
    max-width: 600px;
    background-color: white;
    position: absolute;
    left: 42%;
    top: -173%;
    transform: scaleY(100%);
    transition: 3ms;
    transition-timing-function: cubic-bezier(.53,.47,.81,.84);
    padding: 10px;
}

.close-box-btn{
    font-size: 15px;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.send-receive-btn{
    border: 1px solid lightseagreen;
    width: 50%;
    border-radius: 15px;
    margin-top: 12px;
    margin-left: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    gap: 16px;
}

.send-btn{
    border: none;
    outline: none;
    background-color: #48c5d1;
    padding: 5px 10px 5px 10px;
    color: white;
    font-size: 15px;
    border-radius: 15px;
}

.receive-btn{
    border: none;
    outline: none;
    background-color: white;
    padding: 5px 10px 5px 10px;
    color: #48c5d1;
    font-size: 15px;
    border-radius: 15px;
}

.msg-type{
    margin-top: 10px;
}

.write-msg{
    height: 100px;
    width: 90%;
}

/* .msg-input{
    border: 1px solid black;
    display: flex;
    align-items: self-end;
} */

.select-img-send{
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-img{
    height: auto;
    width: auto;
    max-height: 150px;
    max-width: 200px;
    display: none;
}

textarea{
    resize: none;
    outline: none;
}

.fa-image{
    color: white;
    background-color: #48c5d1;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    position: absolute;
    margin-left: -41px;
    margin-top: 109px;
}

.message-time-input{
    cursor: text;
}

.chat-day{
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    outline: none;
    border: 2px solid #48c5d1;
    color: #48c5d1;
}

.msg-time-sent-status{
    margin-top: 12px;
}

.message-time-input{
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    outline: none;
    border: 2px solid #48c5d1;

}

.msg-send-delivery-status{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.send-custom-msg{
    display: flex;
    align-items: center;
}

.delivered-read{
    display: flex;
    align-items: center;
}

.fa-clock{
    font-size: 12px;
    margin-left: 4px;
    margin-right: 4px;
    color: gray;
}

.sending-label{
    margin-right: 70px;
}

.msg-send-tick{
    margin-left: 4px;
    margin-right: 4px;
}

.msg-deliver-tick{
    margin-left: 4px;
    margin-right: 4px;
}

.msg-deliver-label{
    margin-right: 56px; 
}

.send-btn-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
}

.msg-send-btn{
    border: none;
    padding: 8px 20px 8px 20px;
    background-color: #48c5d1;
    color: white;
    border-radius: 9px;
}

.download-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.download{
    background-color: #48c5d1;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    border: none;
}

.msg-type-toggle{
    /* visibility: hidden; */
    display: none;
    /* position: absolute; */
}

.mobile-time{
    border: none;
    outline: none;
    font-family: sans-serif;
    margin-right: 54px;
}

.time{
    margin-top: 15px;
}

.phone-time{
    display: flex;
}

.delet-btn{
    border: none;
    color: red;
    background-color: transparent;
    font-size: 16px;
}

.delete-chat{
    border: none;
    background-color: transparent;
    position: inherit;
    float: right;
    left: -13px;
    top: 8px;
}

.delete-receive-chat{
    border: none;
    background-color: transparent;
    top: 12px;
    position: absolute;
    color: red;
}

.fa-trash-o{
    color: red;
}